@component(
  $border-radius: ^border-radius,
  $color: ^primary-color,
  $background: transparent,
  $hover-color: darken(^primary-color, 10%),
  $hover-background: lighten(^primary-color, 10%),
  $active-color: #FFFFFF,
  $active-background: ^primary-color,
  $padding: 0 0.5em,
  $margin: 0 1px,
  $width: auto,
  $font: ^copy-font
) {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: $font;

  &--page {
    display: block;
    padding: $padding;
    margin: $margin;
    width: $width;
    text-decoration: none;
    color: $color;
    transition:
      background 0.2s,
      color 0.2s;
    border-radius: $border-radius;

    &:hover {
      color: $hover-color;
      background: $hover-background;
    }

    &.active {
      color: $active-color;
      background: $active-background;
    }
  }
}
