@component(
  $font: $untitled-ui--panel--default-titlebar--font,
  $border-color: $untitled-ui--panel--default-titlebar--border-color
) {
  padding: 0.5em 0.8em;
  font-size: 1.25em;
  line-height: 2.1em;
  border-bottom: solid 1px $border-color;
  font-family: $font;
}
