@component(
  $color: #8ea1a8,
  $sortable-hover-color: ^primary-color,
  $sorted-border-style: solid,
  $sorted-border-width: 3px,
  $sorted-border-color: #E0EAED,
  $text-transform: uppercase,
  $padding: 0.8em 0.3em,
  $font: ^copy-font,
  $font-size: 0.7em
) {
  flex: 1;
  padding: $padding;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $color;
  letter-spacing: 1px;
  font-size: $font-size;
  line-height: 1.4em;
  text-transform: $text-transform;
  transition: color 0.2s, border-color 0.2s;
  border-top: $sorted-border-style $sorted-border-width transparent;
  border-bottom: $sorted-border-style $sorted-border-width transparent;
  box-sizing: border-box;
  font-family: $font;

  &--sortable {
    &:hover {
      cursor: pointer;
      color: $sortable-hover-color;
    }
  }

  &--sorted {
    border-bottom: $sorted-border-style $sorted-border-width $sorted-border-color;
  }
}
