@component(
  $background: ^content-background,
  $border-color: lighten(^default-color, 35%),
  $border-radius: ^border-radius,
  $color: ^default-color,
  $disabled-background: darken(^content-background, 2%),
  $disabled-color: lighten(^default-color, 25%),
  $error-color: ^error-color,
  $focus-color: ^focus-color,
  $font: ^component-font,
  $padding-x: 0.4em,
  $padding-y: 0.5em
) {
  border-radius: $border-radius;
  font-family: $font;

  @if border-color != transparent {
    padding: 1px;
    background: linear-gradient(to bottom, $border-color 0%, lighten($border-color, 15%) 100%);
  }

  &--wrapper {
    background: $background;
    border-radius: inherit;
  }

  &--input {
    border: none;
    border-radius: inherit;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    padding: $padding-y $padding-x; /* TODO: Make sizes match buttons */
    color: $color;
    background: transparent;

    &:focus {
      outline: none;

      @if $focus-color != none {
        box-shadow: 0px 0px 4px $focus-color, inset 0px 2px 3px rgba(0, 0, 0, 0.1);
        animation: ui-input--default--focus-highlight 0.2s 1;

        @if $border-color != transparent {
          margin: -1px;
          width: calc(100% + 2px);
          height: calc(100% + 2px);
          border: solid 1px lighten($focus-color, 20%);
        }
      }
    }

    @if $error-color != none {
      &--error {
        box-shadow: 0px 0px 4px $error-color, inset 0px 2px 3px rgba(0, 0, 0, 0.1);
        animation: ui-input--default--error-highlight 0.2s 1;

        @if $border-color != transparent {
          margin: -1px;
          width: calc(100% + 2px);
          height: calc(100% + 2px);
          border: solid 1px lighten($error-color, 20%);
        }
      }
    }

    &--disabled {
      background: $disabled-background;
      color: $disabled-color;
    }
  }

  /* Focus Glow */
  @if $focus-color != none {
    @keyframes ui-input--default--focus-highlight {
      0% {
        box-shadow:
          0px 0px 0px $focus-color,
          inset 0px 2px 3px rgba(0, 0, 0, 0.1);
      }
      100% {
        @if $border-color != transparent {
          border-color: lighten($focus-color, 20%);
        }

        box-shadow:
          0px 0px 4px $focus-color,
          inset 0px 2px 3px rgba(0, 0, 0, 0.1);
      }
    }
  }

  /* Error Glow */
  @if $error-color != none {
    @keyframes ui-input--default--error-highlight {
      0% {
        box-shadow:
          0px 0px 0px $error-color,
          inset 0px 2px 3px rgba(0, 0, 0, 0.1);
      }
      100% {
        @if $border-color != transparent {
          border-color: lighten($error-color, 20%);
        }

        box-shadow:
          0px 0px 4px #ff0000,
          inset 0px 2px 3px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
