@component(
  $border-radius: ^border-radius,
  $border-color: darken(^page-background, 15%),
  $border-size: 1px,
  $background: ^content-background,
  $box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05),
  $color: ^font-color
) {
  display: flex;
  border-radius: $border-radius;
  padding: $border-size;
  background: linear-gradient(to bottom, lighten($border-color, 10%) 0%, $border-color 100%);
  box-shadow: $box-shadow;
  margin-bottom: 5px;
  color: $color;

  &--wrapper {
    flex: 1;
    border-radius: inherit;
    background: $background;
  }
}
