@component(
  $color: ^font-color,
  $opacity: 0.6,
  $font: ^copy-font,
  $font-size: 0.9em,
  $margin: 0.3em 0 0.6em 0
) {
  font-size: $font-size;
  margin: $margin;
  color: $color;
  opacity: $opacity;
  font-family: $font;
}
