@component(
  $border-radius: ^border-radius,
  $color: ^primary-color,
  $background: transparent,
  $hover-color: darken(^primary-color, 10%),
  $hover-background: lighten(^primary-color, 46%),
  $active-color: #FFFFFF,
  $active-background: ^primary-color,
  $padding: 0 0.5em,
  $margin: 0 1px,
  $width: auto,
  $align: flex-start,
  $font: ^copy-font
) {
  display: flex;
  justify-content: $align;
  font-family: $font;

  &--tab--link {
    text-decoration: none;
    color: $color;
    width: $width;
    text-align: center;
    display: block;
    padding: $padding;
    margin: $margin;
    line-height: 2em;
    border-radius: $border-radius;

    &:hover {
      background: $hover-background;
      color: $hover-color;
    }

    &.active {
      background: $active-background;
      color: $active-color;
    }
  }
}
