@component(
  $border-style: dotted,
  $border-width: 1px,
  $color: ^primary-color,
  $cursor: help,
  $display: inline-block
) {
  display: $display;
  cursor: $cursor;
  color: $color;
  border-bottom-style: $border-style;
  border-bottom-width: $border-width;
}
