@import './ui-tooltip--base';

@component(
  $color: ^primary-color,
  $border-style: dotted,
  $border-width: 1px,
  $font: ^copy-font
) {
  @include ui-tooltip--base($theme);

  font-family: $font;
}
