@import './base--ui-message--default';

@component() {
  @include base--ui-message--default($theme,
    $radius: ^border-radius,
    $color: ^default-color,
    $background: linear-gradient(to bottom, white 0%, #f3f3f3 100%),
    $border-color: #c5c5c5,
    $border-width: 1px,
    $padding: 0.3em,
    $box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2),
    $font: ^copy-font
  );

  z-index: 10;
  position: absolute;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: 7px;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
    border-bottom: solid 7px rgba(0, 0, 0, 0.1);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    left: 7px;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
    border-bottom: solid 7px #ffffff;
  }

  &--message {
    padding-right: 0px;
  }
}
