@component(
  $padding: 0.4em 0,
  $font: ^copy-font,
  $hover-background: inherit
) {
  display: flex;
  line-height: 1.3em;
  padding: $padding;
  font-family: $font;

  &:hover {
    background: $hover-background;
  }
}
