@component(
  $color: ^default-color,
  $background: ^content-background,
  $border-color: #E2E2E2,
  $border-style: solid,
  $border-width: 1px,
  $padding: 0 0.5em,
  $hover-color: #FFFFFF,
  $hover-background: ^primary-color,
  $font: ^copy-font
) {
  position: relative;
  display: block;
  border-top: $border-width $border-style $border-color;
  border-bottom: $border-width $border-style $border-color;
  margin-bottom: -$border-width;
  padding: $padding;
  line-height: 1.6em;
  background: $background;
  font-family: $font;

  &:last-child {
    margin-bottom: 0px;
  }

  &:hover {
    background: $hover-background;
    color: $hover-color;
    border-top: $border-width $border-style $hover-background;
    border-bottom: $border-width $border-style $hover-background;
    z-index: 1;
  }
}
