@component(
  $color: $untitled-ui--font-color,
  $opacity: $untitled-ui--field--default-description--opacity,
  $font: $untitled-ui--field--default-description--font,
  $font-size: $untitled-ui--field--default-description--font-size,
  $margin: $untitled-ui--field--default-description--margin
) {
  font-size: $font-size;
  margin: $margin;
  color: $color;
  opacity: $opacity;
  font-family: $font;
}
