@import './ui-button';
@import './ui-button--base';
@import './ui-button--default';

@component($args...) {
  @include ui-button();
  @include ui-button--base();
  @include ui-button--default(
    $radius: $untitled-ui--ui-button--primary--radius,
    $color: $untitled-ui--ui-button--primary--color,
    $border-color: $untitled-ui--ui-button--primary--border-color,
    $border-width: $untitled-ui--ui-button--primary--border-width,
    $background: $untitled-ui--ui-button--primary--background,
    $active-background: $untitled-ui--ui-button--primary--active-background,
    $disabled-background: $untitled-ui--ui-button--primary--disabled-background,
    $disabled-border-color: $untitled-ui--ui-button--primary--disabled-border-color,
    $disabled-shadow: $untitled-ui--ui-button--primary--disabled-shadow,
    $font: $untitled-ui--ui-button--primary--font,
    $text-transform: $untitled-ui--ui-button--primary--text-transform
  );
};
