@import './ui-button';
@import './ui-button--base';

@component(
    $radius: $untitled-ui--ui-button--default--radius,
    $color: $untitled-ui--ui-button--default--color,
    $border-color: $untitled-ui--ui-button--default--border-color,
    $background: $untitled-ui--ui-button--default--background,
    $disabled-border-color: $untitled-ui--ui-button--default--disabled-border-color,
    $disabled-background: $untitled-ui--ui-button--default--disabled-background,
    $font: $untitled-ui--ui-button--default--font
  ) {
  @include ui-button();
  @include ui-button--base();

  border-radius: $radius;
  cursor: pointer;
  padding: 1px;
  line-height: 2.3em;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, lighten($border-color, 14%) 0%, $border-color 100%);
  color: $color;
  fill: $color;
  font-family: $font;

  &--focus {
    background: rgba(0, 107, 255, 0.5); /* make the border part of the shadow */
    box-shadow: 0px 0px 4px #0090ff;
    z-index: 2;
  }

  &--active {
    background: linear-gradient(to top, lighten($border-color, 12%) 0%, $border-color 100%);
    box-shadow: none;
  }

  &--disabled {
    pointer-events: none;
    background: linear-gradient(to bottom, lighten($border-color, 15%) 0%, $border-color 100%);
    color: $disabled-border-color;
    fill: $disabled-border-color;
  }

  &--group-button {
     margin-right: -1px;
     border-radius: 0px;
  }

  &--first-child {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }

  &--last-child {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }

  &--wrapper {
    border-radius: inherit;
    background: $background;

    &--active, &--disabled {
      background: $disabled-background;
    }
  }

  &--label {
    padding: 0 0.9em;
    min-height: 10px;
    font-style: normal;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--active {
      transform: translateY(1px);
    }

    &--loading {
      opacity: 0;
    }
  }

  &--loader {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}
