@import './ui-button';
@import './ui-button--base';
@import './ui-button--default';

@component() {
  @include ui-button();
  @include ui-button--base();
  @include ui-button--default(
    $border-color: $untitled-ui--primary-color,
    $color: $untitled-ui--primary-color,
    $disabled-background: lighten($untitled-ui--primary-color, 49%),
    $disabled-color: lighten($untitled-ui--primary-color, 25%)
  );
};
