@component(
  $radius: $untitled-ui--checkbox--default--radius,
  $color: $untitled-ui--checkbox--default--color,
  $border-color: $untitled-ui--checkbox--default--border-color,
  $border-width: $untitled-ui--checkbox--default--border-width,
  $background: $untitled-ui--checkbox--default--background,
  $box-shadow: $untitled-ui--checkbox--default--box-shadow,
  $checked-border-color: $untitled-ui--checkbox--default--checked-border-color,
  $checked-background: $untitled-ui--checkbox--default--checked-background,
  $disabled-color: $untitled-ui--checkbox--default--disabled-color,
  $disabled-border-color: $untitled-ui--checkbox--default--disabled-border-color,
  $disabled-background: $untitled-ui--checkbox--default--disabled-background,
  $disabled-checked-border-color: $untitled-ui--checkbox--default--disabled-checked-border-color,
  $disabled-checked-background: $untitled-ui--checkbox--default--disabled-checked-background,
  $error-color: $untitled-ui--checkbox--default--error-color,
  $focus-color: $untitled-ui--checkbox--default--focus-color,
  $font: $untitled-ui--checkbox--default--font
) {
  display: inline-block;
  cursor: pointer;
  font-family: $font;

  &--input {
    opacity: 0.001;
    position: absolute;
  }

  &--component {
    border-radius: $radius;
    padding: $border-width;
    display: inline-block;
    vertical-align: top;
    box-shadow: $box-shadow;
    background: $border-color;

    &--wrapper {
      border-radius: inherit;
      position: relative;
      height: 0.9em;
      width: 0.9em;
      background: $background;
    }

    &--icon {
      opacity: 0;
      transition: opacity 0.1s;
      color: #e2e2e2;

      &:before {
        // TODO: Need a non-hideous ✓
        content: "✓";
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        line-height: 1.2em;
        font-size: 0.8em;
        text-align: center;
      }
    }
  }

  &--enabled {
    .ui-checkbox--default--component:hover {
      .ui-checkbox--default--component--icon {
        opacity: 0.5;
      }
    }

    .ui-checkbox--default--input:focus + .ui-checkbox--default--component {
      @if $focus-color != transparent {
        background: lighten($focus-color, 20%);
        box-shadow: 0px 0px 4px $focus-color
      };

      .ui-checkbox--default--component--icon {
        opacity: 0.5;
      }
    }

    &.ui-checkbox--default--checked {
      .ui-checkbox--default--input:focus + .ui-checkbox--default--component {
        @if $focus-color != transparent {
          background: $focus-color;
          box-shadow: 0px 0px 4px $focus-color
        };

        .ui-checkbox--default--component--icon {
          opacity: 1;
        }
      }
    }
  }

  &--disabled {
    cursor: inherit;
    color: $disabled-color;

    .ui-checkbox--default--component {
      background: $disabled-border-color;
    }

    .ui-checkbox--default--component--wrapper {
      background: $disabled-background;
    }

    /* Disabled Checked */
    &.ui-checkbox--default--checked {
      .ui-checkbox--default--component {
        background: $disabled-checked-border-color;
      }

      .ui-checkbox--default--component--wrapper {
        background: $disabled-checked-background;
      }

      .ui-checkbox--default--component--icon {
        opacity: 0.5;
      }
    }
  }

  &--checked {
    .ui-checkbox--default--component {
      background: $checked-border-color;
    }

    .ui-checkbox--default--component--wrapper {
      background: $checked-background;
    }

    .ui-checkbox--default--component--icon {
      opacity: 1;
      color: #ffffff;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }

  &--error {
    .ui-checkbox--default--component {
      background: lighten($error-color, 20%);
      box-shadow: 0px 0px 4px $error-color;
    }
  }
}
