@component(
  $color: $untitled-ui--field--default-label--color,
  $font: $untitled-ui--field--default-label--font,
  $margin: $untitled-ui--field--default-label--margin
) {
  display: block;
  font-weight: 500;
  margin: $margin;
  color: $color;
  font-family: $font;
}
