@component(
  $border-radius: $untitled-ui--input--default--radius,
  $color: $untitled-ui--input--default--color,
  $border-color: $untitled-ui--input--default--border-color,
  $background: $untitled-ui--input--default--background,
  $disabled-color: $untitled-ui--input--default--disabled-color,
  $disabled-background: $untitled-ui--input--default--disabled-background,
  $error-color: $untitled-ui--input--default--error-color,
  $focus-color: $untitled-ui--input--default--focus-color,
  $font: $untitled-ui--input--default--font
) {
  border-radius: $border-radius;
  padding: 1px;
  background: linear-gradient(to bottom, $border-color 0%, lighten($border-color, 15%) 100%);
  font-family: $font;

  &--wrapper {
    background: $background;
    border-radius: inherit;
  }

  &--input {
    border: none;
    border-radius: inherit;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    padding: 0.5em 0.4em; /* TODO: Make sizes match buttons */
    color: $color;
    background: transparent;

    &:focus {
      outline: none;
      margin: -1px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      border: solid 1px lighten($focus-color, 20%);
      box-shadow: 0px 0px 4px $focus-color, inset 0px 2px 3px rgba(0, 0, 0, 0.1);
      animation: ui-input--default--focus-highlight 0.2s 1;
    }

    &--error {
      margin: -1px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      border: solid 1px lighten($error-color, 20%);
      box-shadow: 0px 0px 4px $error-color, inset 0px 2px 3px rgba(0, 0, 0, 0.1);
      animation: ui-input--default--error-highlight 0.2s 1;
    }

    &--disabled {
      background: $disabled-background;
      color: $disabled-color;
    }
  }

  @at-root {
    /* Focus Glow */
    @keyframes ui-input--default--focus-highlight {
      0% {
        box-shadow:
          0px 0px 0px $focus-color,
          inset 0px 2px 3px rgba(0, 0, 0, 0.1);
      }
      100% {
        border-color: lighten($focus-color, 20%);
        box-shadow:
          0px 0px 4px $focus-color,
          inset 0px 2px 3px rgba(0, 0, 0, 0.1);
      }
    }

    /* Error Glow */
    @keyframes ui-input--default--error-highlight {
      0% {
        box-shadow:
          0px 0px 0px $error-color,
          inset 0px 2px 3px rgba(0, 0, 0, 0.1);
      }
      100% {
        border-color: lighten($error-color, 20%);
        box-shadow:
          0px 0px 4px #ff0000,
          inset 0px 2px 3px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
