@component(
  $color: $untitled-ui--list--default-item--color,
  $background: $untitled-ui--list--default-item--background,
  $border-color: $untitled-ui--list--default-item--border-color,
  $border-style: $untitled-ui--list--default-item--border-style,
  $border-width: $untitled-ui--list--default-item--border-width,
  $padding: $untitled-ui--list--default-item--padding,
  $hover-color: $untitled-ui--list--default-item--hover-color,
  $hover-background: $untitled-ui--list--default-item--hover-background
) {
  position: relative;
  display: block;
  border-top: $border-width $border-style $border-color;
  border-bottom: $border-width $border-style $border-color;
  margin-bottom: -$border-width;
  padding: $padding;
  line-height: 1.6em;
  background: $background;

  &:last-child {
    margin-bottom: 0px;
  }

  &:hover {
    background: $hover-background;
    color: $hover-color;
    border-top: $border-width $border-style $hover-background;
    border-bottom: $border-width $border-style $hover-background;
    z-index: 1;
  }
}
