@component() {
  position: relative;
  height: 100%;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    width: 0.4em;
    height: 0.4em;
    margin: 0 0.1em;
    padding: 0;
    border: none;
    opacity: 0.4;
    border-radius: 0.2em;
    background: rgba(0, 0, 0, 0.2);
    transition: background 0.2s;
    animation: ui-loading--default 1s infinite;

    &:nth-child(3n+2) {
      animation-delay: 0.15s;
    }

    &:nth-child(3n+3) {
      animation-delay: 0.3s;
    }
  }

  @keyframes ui-loading--default {
    0%   { opacity: 0.4; }
    20%  { opacity: 0.4; }
    50%  { opacity: 1.0; }
    100% { opacity: 0.4; }
  }
}
