@import './ui-menu---item--default';

@component() {
  @include ui-menu---item--default();

  padding: 0 1em;

  &:first-child {
    padding-top: 1em;
  }

  &:last-child {
    padding-bottom: 1em;
  }

  &--link-to {
    border-radius: 4px;
  }
}
