@component(
  $radius: $untitled-ui--message--default--radius,
  $color: $untitled-ui--message--default--color,
  $background: $untitled-ui--message--default--background,
  $border-color: $untitled-ui--message--default--border-color,
  $border-width: $untitled-ui--message--default--border-width,
  $padding: $untitled-ui--message--default--padding,
  $box-shadow: $untitled-ui--message--default--box-shadow
) {
  padding: $untitled-ui--message--default--border-width;
  border-radius: $radius;
  background: linear-gradient(to bottom, lighten($border-color, 7.5%) 0%, $border-color 100%);
  box-shadow: $untitled-ui--message--default--box-shadow;
  margin-bottom: 1em;

  &--wrapper {
    background: $background;
    border-radius: inherit;
    padding: $padding;
    color: $color;
    position: relative;
  }

  &--message {
    padding-right: 2em;
    line-height: 1.3em;
  }

  &--close {
    position: absolute;
    top: $padding;
    right: $padding;
    width: 1em;
    height: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.06);
      box-shadow:
        inset 1px 1px 0px rgba(0, 0, 0, 0.08),
        1px 1px 0px rgba(255, 255, 255, 0.4);
      transform: scale(0.1);
      opacity: 0;
      border-radius: 1em;
      transition: opacity 0.2s, transform 0.2s;
    }

    &:hover{
      &:before {
        transform: scale(1);
        opacity: 1;
      }

      &--icon {
        fill: rgba(0, 0, 0, 0.7);
      }
    }

    &--icon {
      width: 60%;
      height: 60%;
      transition: fill 0.2s;
      fill: rgba(0, 0, 0, 0.5);
    }
  }

  // TODO Remove this
  @at-root {
    .ui-icon--default--ui-message--default--close--icon {
      width: 60%;
      height: 60%;
      fill: rgba(0, 0, 0, 0.5);
    }
  }
}
