@import './ui-message--default';

@component() {
  @include ui-message--default(
    $radius: $untitled-ui--message--error--radius,
    $color: $untitled-ui--message--error--color,
    $background: $untitled-ui--message--error--background,
    $border-color: $untitled-ui--message--error--border-color,
    $border-width: $untitled-ui--message--error--border-width,
    $padding: $untitled-ui--message--error--padding,
    $box-shadow: $untitled-ui--message--error--box-shadow,
    $font: $untitled-ui--message--error--font
  );

  z-index: 10;
  position: absolute;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: 7px;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
    border-bottom: solid 7px rgba(0, 0, 0, 0.1);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    left: 7px;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
    border-bottom: solid 7px #ffffff;
  }

  &--message {
    padding-right: 0px;
  }
}
