@import './ui-tooltip--base';

@component(
  $radius: $untitled-ui--popup--tooltip--radius,
  $border-color:$untitled-ui--popup--tooltip--border-color,
  $border-width:$untitled-ui--popup--tooltip--border-width,
  $color: $untitled-ui--popup--tooltip--color,
  $background: $untitled-ui--popup--tooltip--background,
  $padding: $untitled-ui--popup--tooltip--padding,
  $box-shadow: $untitled-ui--popup--tooltip--box-shadow
) {
  &--window {
    border-radius: $radius;
    background: linear-gradient(to bottom, lighten($border-color, 10%) 0%, $border-color 100%);
    padding: $border-width;
    box-shadow: $box-shadow;
    max-width: 20em;
    max-height: 20em;
    opacity: 0.93;

    &--wrapper {
      padding: $padding;
      background: $background;
      border-radius: inherit;
      font-size: 0.8em;
      line-height: 1.4em;
      color: $color;
      max-height: inherit;
      overflow: auto;
      box-sizing: border-box;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      border: solid 0.6em transparent;
      position: absolute;
    }
  }

  &--element {
    z-index: 2;
  }

  &--overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    z-index: 1;

    // Makes clickable in iOS
    cursor: pointer;

    // Disables iOS touch callouts
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    user-select: none;
  }

  &--element-attached-left {
    .ui-popup--tooltip--window {
      animation: ui-popup--tooltip--show-left 0.3s 1;

      &:before {
        border-right-color: $border-color;
        left: calc(-1.2em + 1px);
        top: 50%;
        margin-top: -0.6em;
      }

      &:after {
        border-right-color: $background;
        left: calc(-1.2em + 2px);
        top: 50%;
        margin-top: -0.6em;
      }
    }
  }

  &--element-attached-right {
    .ui-popup--tooltip--window {
      animation: ui-popup--tooltip--show-right 0.3s 1;

      &:before {
        border-left-color: $border-color;
        right: calc(-1.2em + 1px);
        top: 50%;
        margin-top: -0.6em;
      }

      &:after {
        border-left-color: $background;
        right: calc(-1.2em + 2px);
        top: 50%;
        margin-top: -0.6em;
      }
    }
  }

  &--element-attached-top {
    .ui-popup--tooltip--window {
      animation: ui-popup--tooltip--show-top 0.3s 1;

      &:before {
        border-bottom-color: $border-color;
        top: calc(-1.2em + 1px);
        left: 50%;
        margin-left: -0.6em;
      }

      &:after {
        border-bottom-color: $background;
        top: calc(-1.2em + 2px);
        left: 50%;
        margin-left: -0.6em;
      }
    }
  }

  &--element-attached-bottom {
    .ui-popup--tooltip--window {
      animation: ui-popup--tooltip--show-bottom 0.3s 1;

      &:before {
        border-top-color: $border-color;
        bottom: calc(-1.2em + 1px);
        left: 50%;
        margin-left: -0.6em;
      }

      &:after {
        border-top-color: $background;
        bottom: calc(-1.2em + 2px);
        left: 50%;
        margin-left: -0.6em;
      }
    }
  }

  @at-root {
    @-webkit-keyframes ui-popup--tooltip--show-top {
      from {
        transform: translateY(-10px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 0.93;
      }
    }

    @-webkit-keyframes ui-popup--tooltip--show-bottom {
      from {
        transform: translateY(10px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 0.93;
      }
    }

    @-webkit-keyframes ui-popup--tooltip--show-left {
      from {
        transform: translateX(-10px);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 0.93;
      }
    }

    @-webkit-keyframes ui-popup--tooltip--show-right {
      from {
        transform: translateX(10px);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 0.93;
      }
    }
  }
}
