@component(
  $border-radius: $untitled-ui--pagination--default--radius,
  $color: $untitled-ui--pagination--default--color,
  $background: $untitled-ui--pagination--default--background,
  $hover-color: $untitled-ui--pagination--default--hover-color,
  $hover-background: $untitled-ui--pagination--default--hover-background,
  $active-color: $untitled-ui--pagination--default--active-color,
  $active-background: $untitled-ui--pagination--default--active-background,
  $padding: $untitled-ui--pagination--default--padding,
  $margin: $untitled-ui--pagination--default--margin,
  $width: $untitled-ui--pagination--default--width,
  $font: $untitled-ui--pagination--default--font
) {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: $font;

  &---page {
    display: block;
    padding: $padding;
    margin: $margin;
    width: $width;
    text-decoration: none;
    color: $color;
    transition:
      background 0.2s,
      color 0.2s;
    border-radius: $border-radius;

    &:hover {
      color: $hover-color;
      background: $hover-background;
    }

    &.active {
      color: $active-color;
      background: $active-background;
    }
  }
}
