@component(
  $border-radius: $untitled-ui--panel--default--radius,
  $border-color: $untitled-ui--panel--default--border-color,
  $border-size: $untitled-ui--panel--default--border-size,
  $background: $untitled-ui--panel--default--background,
  $box-shadow: $untitled-ui--panel--default--box-shadow
) {
  display: flex;
  border-radius: $border-radius;
  padding: $border-size;
  background: linear-gradient(to bottom, lighten($border-color, 10%) 0%, $border-color 100%);
  box-shadow: $box-shadow;
  margin-bottom: 5px;

  &--wrapper {
    flex: 1;
    border-radius: inherit;
    background: $background;
  }
}
