@component(
  $border-radius: $untitled-ui--tabs--default--radius,
  $color: $untitled-ui--tabs--default--color,
  $background: $untitled-ui--tabs--default--background,
  $hover-color: $untitled-ui--tabs--default--hover-color,
  $hover-background: $untitled-ui--tabs--default--hover-background,
  $active-color: $untitled-ui--tabs--default--active-color,
  $active-background: $untitled-ui--tabs--default--active-background,
  $padding: $untitled-ui--tabs--default--padding,
  $margin: $untitled-ui--tabs--default--margin,
  $width: $untitled-ui--tabs--default--width,
  $align: $untitled-ui--tabs--default--align
) {
  display: flex;
  justify-content: $align;

  &--tab--link {
    text-decoration: none;
    color: $color;
    width: $width;
    text-align: center;
    display: block;
    padding: $padding;
    margin: $margin;
    line-height: 2em;
    border-radius: $border-radius;

    &:hover {
      background: $hover-background;
      color: $hover-color;
    }

    &.active {
      background: $active-background;
      color: $active-color;
    }
  }
}
