$untitled-ui--default-color: #6a6a6a;
$untitled-ui--primary-color: #1787e5;
$untitled-ui--focus-color: #0090ff;
$untitled-ui--error-color: #ff0000;
$untitled-ui--border-radius: 0.3em;

$untitled-ui--font-size--x-small: 0.6rem;
$untitled-ui--font-size--small: 0.8rem;
$untitled-ui--font-size--medium: 1rem;
$untitled-ui--font-size--large: 1.3rem;
$untitled-ui--font-size--x-large: 1.6rem;

$untitled-ui--button--default--radius: $untitled-ui--border-radius;
$untitled-ui--button--default--color: $untitled-ui--default-color;
$untitled-ui--button--default--border-color: lighten($untitled-ui--default-color, 35%);
$untitled-ui--button--default--background: #ffffff;
$untitled-ui--button--default--disabled-border-color: lighten($untitled-ui--default-color, 25%);
$untitled-ui--button--default--disabled-background: lighten($untitled-ui--default-color, 55%);

$untitled-ui--button--primary--radius: $untitled-ui--border-radius;
$untitled-ui--button--primary--color: $untitled-ui--primary-color;
$untitled-ui--button--primary--border-color: lighten($untitled-ui--primary-color, 10%);
$untitled-ui--button--primary--background: #ffffff;
$untitled-ui--button--primary--disabled-border-color: lighten($untitled-ui--primary-color, 25%);
$untitled-ui--button--primary--disabled-background: lighten($untitled-ui--primary-color, 49%);

$untitled-ui--checkbox--default--radius: $untitled-ui--border-radius;
$untitled-ui--checkbox--default--color: $untitled-ui--default-color;
$untitled-ui--checkbox--default--border-color: lighten($untitled-ui--default-color, 35%);
$untitled-ui--checkbox--default--background: #ffffff;
$untitled-ui--checkbox--default--disabled-border-color: lighten($untitled-ui--default-color, 25%);
$untitled-ui--checkbox--default--disabled-background: lighten($untitled-ui--default-color, 55%);
$untitled-ui--checkbox--default--checked-border-color: $untitled-ui--primary-color;
$untitled-ui--checkbox--default--checked-background: lighten($untitled-ui--primary-color, 10%);
$untitled-ui--checkbox--default--error-color: $untitled-ui--error-color;
$untitled-ui--checkbox--default--focus-color: $untitled-ui--focus-color;

$untitled-ui--list--default-item--color: $untitled-ui--default-color;
$untitled-ui--list--default-item--background: #ffffff;
$untitled-ui--list--default-item--border-color: #e2e2e2;
$untitled-ui--list--default-item--border-style: solid;
$untitled-ui--list--default-item--border-width: 1px;
$untitled-ui--list--default-item--padding: 0 0.5em;
$untitled-ui--list--default-item--hover-color: #ffffff;
$untitled-ui--list--default-item--hover-background: $untitled-ui--primary-color;

$untitled-ui--input--default--radius: $untitled-ui--border-radius;
$untitled-ui--input--default--color: $untitled-ui--default-color;
$untitled-ui--input--default--border-color: lighten($untitled-ui--default-color, 35%);
$untitled-ui--input--default--background: #ffffff;
$untitled-ui--input--default--disabled-color: lighten($untitled-ui--default-color, 25%);
$untitled-ui--input--default--disabled-background: lighten($untitled-ui--default-color, 57%);
$untitled-ui--input--default--error-color: $untitled-ui--error-color;
$untitled-ui--input--default--focus-color: $untitled-ui--focus-color;

$untitled-ui--textarea--default--radius: $untitled-ui--border-radius;
$untitled-ui--textarea--default--color: $untitled-ui--default-color;
$untitled-ui--textarea--default--border-color: lighten($untitled-ui--default-color, 35%);
$untitled-ui--textarea--default--background: #ffffff;
$untitled-ui--textarea--default--disabled-color: lighten($untitled-ui--default-color, 25%);
$untitled-ui--textarea--default--disabled-background: lighten($untitled-ui--default-color, 57%);
$untitled-ui--textarea--default--error-color: $untitled-ui--error-color;
$untitled-ui--textarea--default--focus-color: $untitled-ui--focus-color;

$untitled-ui--message--default--radius: $untitled-ui--border-radius;
$untitled-ui--message--default--color: $untitled-ui--default-color;
$untitled-ui--message--default--background: #f9f9f9;
$untitled-ui--message--default--border-color: #d7d7d7;
$untitled-ui--message--default--border-width: 1px;
$untitled-ui--message--default--padding: 0.5em;
$untitled-ui--message--default--box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);

$untitled-ui--pagination--default--radius: $untitled-ui--border-radius;
$untitled-ui--pagination--default--color: $untitled-ui--primary-color;
$untitled-ui--pagination--default--background: transparent;
$untitled-ui--pagination--default--hover-color: darken($untitled-ui--primary-color, 10%);
$untitled-ui--pagination--default--hover-background: lighten($untitled-ui--primary-color, 46%);
$untitled-ui--pagination--default--active-color: #ffffff;
$untitled-ui--pagination--default--active-background: $untitled-ui--primary-color;
$untitled-ui--pagination--default--padding: 0 0.5em;
$untitled-ui--pagination--default--margin: 0 1px;
$untitled-ui--pagination--default--width: auto;

$untitled-ui--panel--default--radius: $untitled-ui--border-radius;
$untitled-ui--panel--default--border-color: #c8d7dc;
$untitled-ui--panel--default--border-size: 1px;
$untitled-ui--panel--default--background: #ffffff;
$untitled-ui--panel--default--box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);

$untitled-ui--panel--modal--radius: $untitled-ui--border-radius;
$untitled-ui--panel--modal--border-color: transparent;
$untitled-ui--panel--modal--border-size: 0px;
$untitled-ui--panel--modal--background: #ffffff;
$untitled-ui--panel--modal--box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

$untitled-ui--tabs--default--radius: $untitled-ui--border-radius;
$untitled-ui--tabs--default--color: $untitled-ui--primary-color;
$untitled-ui--tabs--default--background: transparent;
$untitled-ui--tabs--default--hover-color: darken($untitled-ui--primary-color, 10%);
$untitled-ui--tabs--default--hover-background: lighten($untitled-ui--primary-color, 46%);
$untitled-ui--tabs--default--active-color: #ffffff;
$untitled-ui--tabs--default--active-background: $untitled-ui--primary-color;
$untitled-ui--tabs--default--padding: 0 0.5em;
$untitled-ui--tabs--default--margin: 0 1px;
$untitled-ui--tabs--default--width: auto;
$untitled-ui--tabs--default--align: flex-start;

$untitled-ui--tooltip--default--color: $untitled-ui--primary-color;
$untitled-ui--tooltip--default--border-style: dotted;
$untitled-ui--tooltip--default--border-width: 1px;

$untitled-ui--popup--tooltip--radius: $untitled-ui--border-radius;
$untitled-ui--popup--tooltip--border-color: #e3cca5;
$untitled-ui--popup--tooltip--border-width: 1px;
$untitled-ui--popup--tooltip--color: #433d32;
$untitled-ui--popup--tooltip--background: #fff2da;
$untitled-ui--popup--tooltip--padding: 0.5em;
$untitled-ui--popup--tooltip--box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);

$untitled-ui--popup--dropbutton--radius: $untitled-ui--border-radius;
$untitled-ui--popup--dropbutton--border-color: #c6c6c6;
$untitled-ui--popup--dropbutton--border-width: 1px;
$untitled-ui--popup--dropbutton--color: #433d32;
$untitled-ui--popup--dropbutton--background: #ffffff;
$untitled-ui--popup--dropbutton--padding: 5px 0;
$untitled-ui--popup--dropbutton--box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.2);
