$untitled-ui--page-background: #f5f8f9 !default;
$untitled-ui--content-background: #ffffff !default;
$untitled-ui--font-color: #303030 !default;
$untitled-ui--default-color: #474747 !default;
$untitled-ui--primary-color: #9ecc3c !default;
$untitled-ui--focus-color: transparent !default;
$untitled-ui--error-color: #ff0000 !default;

$untitled-ui--border-radius: 0.3em !default;

$untitled-ui--heading-font: Helvetica, sans-serif !default;
$untitled-ui--copy-font: Helvetica, sans-serif !default;
$untitled-ui--component-font: Helvetica, sans-serif !default;

$untitled-ui--font-size--x-small: 0.6rem !default;
$untitled-ui--font-size--small: 0.8rem !default;
$untitled-ui--font-size--medium: 1rem !default;
$untitled-ui--font-size--large: 1.3rem !default;
$untitled-ui--font-size--x-large: 1.6rem !default;

$untitled-ui--ui-button--default--radius: 50px !default;
$untitled-ui--ui-button--default--color: #ffffff !default;
$untitled-ui--ui-button--default--border-color: #2b62b6 !default;
$untitled-ui--ui-button--default--border-width: 1px !default;
$untitled-ui--ui-button--default--background: #438eff !default;
$untitled-ui--ui-button--default--shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) !default;
$untitled-ui--ui-button--default--active-background: #3c7ee3 !default;
$untitled-ui--ui-button--default--active-shadow: none !default;
$untitled-ui--ui-button--default--disabled-border-color: #2b62b6 !default;
$untitled-ui--ui-button--default--disabled-background: #438eff !default;
$untitled-ui--ui-button--default--disabled-shadow: none !default;
$untitled-ui--ui-button--default--font: $untitled-ui--component-font !default;
$untitled-ui--ui-button--default--text-transform: none !default;
$untitled-ui--ui-button--default--focus-color: transparent !default;

$untitled-ui--button--primary--radius: 50px !default;
$untitled-ui--button--primary--color: #ffffff !default;
$untitled-ui--button--primary--border-color: #6b892a !default;
$untitled-ui--button--primary--border-width: 1px !default;
$untitled-ui--button--primary--background: #9ecc3c !default;
$untitled-ui--button--primary--shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) !default;
$untitled-ui--button--primary--active-background: #8db636 !default;
$untitled-ui--button--primary--active-shadow: none !default;
$untitled-ui--button--primary--disabled-border-color: #6b892a !default;
$untitled-ui--button--primary--disabled-background: #9ecc3c !default;
$untitled-ui--button--primary--disabled-shadow: none !default;
$untitled-ui--button--primary--font: $untitled-ui--component-font !default;
$untitled-ui--button--primary--text-transform: none !default;
$untitled-ui--button--primary--focus-color: transparent !default;

$untitled-ui--checkbox--default--radius: 0em !default;
$untitled-ui--checkbox--default--color: $untitled-ui--default-color !default;
$untitled-ui--checkbox--default--border-color: lighten($untitled-ui--default-color, 40%) !default;
$untitled-ui--checkbox--default--border-width: 2px !default;
$untitled-ui--checkbox--default--background: #ffffff !default;
$untitled-ui--checkbox--default--box-shadow: 0px 1px 1px rgba(0,0,0,0.1) !default;
$untitled-ui--checkbox--default--disabled-color: $untitled-ui--default-color !default;
$untitled-ui--checkbox--default--disabled-border-color: lighten($untitled-ui--default-color, 50%) !default;
$untitled-ui--checkbox--default--disabled-background: lighten($untitled-ui--default-color, 65%) !default;
$untitled-ui--checkbox--default--disabled-checked-border-color: lighten($untitled-ui--primary-color, 20%) !default;
$untitled-ui--checkbox--default--disabled-checked-background: #ffffff !default;
$untitled-ui--checkbox--default--checked-color: $untitled-ui--primary-color !default;
$untitled-ui--checkbox--default--checked-border-color: $untitled-ui--primary-color !default;
$untitled-ui--checkbox--default--checked-background: #ffffff !default;
$untitled-ui--checkbox--default--error-color: $untitled-ui--error-color !default;
$untitled-ui--checkbox--default--focus-color: transparent !default;
$untitled-ui--checkbox--default--font: $untitled-ui--copy-font !default;

$untitled-ui--field--default-label--color: $untitled-ui--font-color !default;
$untitled-ui--field--default-label--font: $untitled-ui--copy-font !default;
$untitled-ui--field--default-label--margin: 0.3em 0 !default;
$untitled-ui--field--default-description--color: $untitled-ui--font-color !default;
$untitled-ui--field--default-description--font: $untitled-ui--copy-font !default;
$untitled-ui--field--default-description--font-size: 0.9em !default;
$untitled-ui--field--default-description--margin: 0.3em 0 0.6em 0 !default;
$untitled-ui--field--default-description--opacity: 0.6 !default;

$untitled-ui--list--default-item--color: $untitled-ui--default-color !default;
$untitled-ui--list--default-item--background: $untitled-ui--content-background !default;
$untitled-ui--list--default-item--border-color: #e2e2e2 !default;
$untitled-ui--list--default-item--border-style: solid !default;
$untitled-ui--list--default-item--border-width: 1px !default;
$untitled-ui--list--default-item--padding: 0 0.5em !default;
$untitled-ui--list--default-item--hover-color: #ffffff !default;
$untitled-ui--list--default-item--hover-background: $untitled-ui--primary-color !default;
$untitled-ui--list--default-item--font: $untitled-ui--copy-font !default;

$untitled-ui--input--default--radius: $untitled-ui--border-radius !default;
$untitled-ui--input--default--color: $untitled-ui--default-color !default;
$untitled-ui--input--default--border-color: lighten($untitled-ui--default-color, 35%) !default;
$untitled-ui--input--default--background: $untitled-ui--content-background !default;
$untitled-ui--input--default--disabled-color: lighten($untitled-ui--default-color, 25%) !default;
$untitled-ui--input--default--disabled-background: darken($untitled-ui--content-background, 2%) !default;
$untitled-ui--input--default--error-color: $untitled-ui--error-color !default;
$untitled-ui--input--default--focus-color: $untitled-ui--focus-color !default;
$untitled-ui--input--default--font: $untitled-ui--component-font !default;

$untitled-ui--textarea--default--radius: $untitled-ui--border-radius !default;
$untitled-ui--textarea--default--color: $untitled-ui--default-color !default;
$untitled-ui--textarea--default--border-color: lighten($untitled-ui--default-color, 35%) !default;
$untitled-ui--textarea--default--background: $untitled-ui--content-background !default;
$untitled-ui--textarea--default--disabled-color: lighten($untitled-ui--default-color, 25%) !default;
$untitled-ui--textarea--default--disabled-background: darken($untitled-ui--content-background, 2%) !default;
$untitled-ui--textarea--default--error-color: $untitled-ui--error-color !default;
$untitled-ui--textarea--default--focus-color: $untitled-ui--focus-color !default;
$untitled-ui--textarea--default--font: $untitled-ui--component-font !default;

$untitled-ui--message--default--radius: $untitled-ui--border-radius !default;
$untitled-ui--message--default--color: $untitled-ui--default-color !default;
$untitled-ui--message--default--background: #f9f9f9 !default;
$untitled-ui--message--default--border-color: #d7d7d7 !default;
$untitled-ui--message--default--border-width: 1px !default;
$untitled-ui--message--default--padding: 0.5em !default;
$untitled-ui--message--default--box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) !default;
$untitled-ui--message--default--font: $untitled-ui--copy-font !default;

$untitled-ui--pagination--default--radius: $untitled-ui--border-radius !default;
$untitled-ui--pagination--default--color: $untitled-ui--primary-color !default;
$untitled-ui--pagination--default--background: transparent !default;
$untitled-ui--pagination--default--hover-color: darken($untitled-ui--primary-color, 10%) !default;
$untitled-ui--pagination--default--hover-background: lighten($untitled-ui--primary-color, 46%) !default;
$untitled-ui--pagination--default--active-color: #ffffff !default;
$untitled-ui--pagination--default--active-background: $untitled-ui--primary-color !default;
$untitled-ui--pagination--default--padding: 0 0.5em !default;
$untitled-ui--pagination--default--margin: 0 1px !default;
$untitled-ui--pagination--default--width: auto !default;
$untitled-ui--pagination--default--font: $untitled-ui--copy-font !default;

$untitled-ui--panel--default--color: $untitled-ui--font-color !default;
$untitled-ui--panel--default--radius: $untitled-ui--border-radius !default;
$untitled-ui--panel--default--border-color: darken($untitled-ui--page-background, 15%) !default;
$untitled-ui--panel--default--border-size: 1px !default;
$untitled-ui--panel--default--background: $untitled-ui--content-background !default;
$untitled-ui--panel--default--box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05) !default;
$untitled-ui--panel--default-content--font: $untitled-ui--copy-font !default;
$untitled-ui--panel--default-titlebar--font: $untitled-ui--heading-font !default;
$untitled-ui--panel--default-titlebar--border-color: darken($untitled-ui--page-background, 6%) !default;

$untitled-ui--panel--modal--radius: $untitled-ui--border-radius !default;
$untitled-ui--panel--modal--border-color: transparent !default;
$untitled-ui--panel--modal--border-size: 0px !default;
$untitled-ui--panel--modal--background: #ffffff !default;
$untitled-ui--panel--modal--box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25) !default;
$untitled-ui--panel--modal-content--font: $untitled-ui--copy-font !default;
$untitled-ui--panel--modal-titlebar--font: $untitled-ui--heading-font !default;

$untitled-ui--tabs--default--radius: $untitled-ui--border-radius !default;
$untitled-ui--tabs--default--color: $untitled-ui--primary-color !default;
$untitled-ui--tabs--default--background: transparent !default;
$untitled-ui--tabs--default--hover-color: darken($untitled-ui--primary-color, 10%) !default;
$untitled-ui--tabs--default--hover-background: lighten($untitled-ui--primary-color, 46%) !default;
$untitled-ui--tabs--default--active-color: #ffffff !default;
$untitled-ui--tabs--default--active-background: $untitled-ui--primary-color !default;
$untitled-ui--tabs--default--padding: 0 0.5em !default;
$untitled-ui--tabs--default--margin: 0 1px !default;
$untitled-ui--tabs--default--width: auto !default;
$untitled-ui--tabs--default--align: flex-start !default;
$untitled-ui--tabs--default--font: $untitled-ui--copy-font !default;

$untitled-ui--tooltip--default--color: $untitled-ui--primary-color !default;
$untitled-ui--tooltip--default--border-style: dotted !default;
$untitled-ui--tooltip--default--border-width: 1px !default;
$untitled-ui--tooltip--default--font: $untitled-ui--copy-font !default;

$untitled-ui--popup--tooltip--radius: $untitled-ui--border-radius !default;
$untitled-ui--popup--tooltip--border-color: #e3cca5 !default;
$untitled-ui--popup--tooltip--border-width: 1px !default;
$untitled-ui--popup--tooltip--color: #433d32 !default;
$untitled-ui--popup--tooltip--background: #fff2da !default;
$untitled-ui--popup--tooltip--padding: 0.5em !default;
$untitled-ui--popup--tooltip--box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15) !default;
$untitled-ui--popup--tooltip--font: $untitled-ui--copy-font !default;

$untitled-ui--popup--dropbutton--radius: $untitled-ui--border-radius !default;
$untitled-ui--popup--dropbutton--border-color: #c6c6c6 !default;
$untitled-ui--popup--dropbutton--border-width: 1px !default;
$untitled-ui--popup--dropbutton--color: #433d32 !default;
$untitled-ui--popup--dropbutton--background: #ffffff !default;
$untitled-ui--popup--dropbutton--padding: 5px 0 !default;
$untitled-ui--popup--dropbutton--box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.2) !default;
$untitled-ui--popup--dropbutton--font: $untitled-ui--copy-font !default;

$untitled-ui--table--default-header-cell--color: #8ea1a8 !default;
$untitled-ui--table--default-header-cell--sortable-hover-color: $untitled-ui--primary-color !default;
$untitled-ui--table--default-header-cell--sorted-border-style: solid !default;
$untitled-ui--table--default-header-cell--sorted-border-width: 3px !default;
$untitled-ui--table--default-header-cell--sorted-border-color: #e0eaed !default;
$untitled-ui--table--default-header-cell--text-transform: uppercase !default;
$untitled-ui--table--default-header-cell--padding: 0.8em 0.3em !default;
$untitled-ui--table--default-header-cell--font: $untitled-ui--copy-font !default;
$untitled-ui--table--default-header-cell--font-size: 0.7em !default;
$untitled-ui--table--default-row--padding: 0.4em 0 !default;
$untitled-ui--table--default-row--font: $untitled-ui--copy-font !default;
$untitled-ui--table--default-row--hover-background: inherit !default;
$untitled-ui--table--default-row-cell--padding: 0 0.2em !default;
