{{#ui-field as |f|}}
  <div class="form-name {{if wasFocused 'form-name--active'}}">
    <div class="form-name--label" {{action "focusIn"}}>
      Date of Birth
    </div>
    <div class="form-name--fields">
      {{#f.label}}
        Date of Birth
      {{/f.label}}
      {{f.input value=date}}
    </div>
  </div>
{{/ui-field}}
