{{#ui-field as |f|}}
  <div class="form-name {{if wasFocused 'form-name--active'}}">
    <div class="form-name--label" {{action "focusIn"}}>
      Email Address
    </div>
    <div class="form-name--fields">
      {{#f.label}}
        Email Address
      {{/f.label}}
      {{f.input type="email" value=email}}
    </div>
    <div class="form-name--tooltip">
      {{#ui-tooltip as |tooltip|}}
        {{#tooltip.target}}
          <div class="form-name--tooltip--target">
            ?
          </div>
        {{/tooltip.target}}
        {{#tooltip.popup attachment='middle left' targetAttachment='middle right'}}
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia ipsum quis risus finibus, in luctus arcu molestie. Suspendisse tincidunt urna odio, id iaculis nisi cursus gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac <a href="#">turpis egestas</a>.
        {{/tooltip.popup}}
      {{/ui-tooltip}}
    </div>
  </div>
{{/ui-field}}
