.form-name {
  position: relative;
  border: solid 1px #dce7f0;
  padding: 0 10px;
  border-radius: 3px;
  transition: background 0.2s;
  width: 100%;
  box-sizing: border-box;

  .form-name--label {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: color 0.2s;
    font-size: 1em;
    font-weight: bold;
    color: #abbac5;
    display: flex;
    align-items: center;

    &:hover {
      color: #0887e9;
    }
  }

  .form-name--fields {
    opacity: 0;
    pointer-events: none;
  }

  .form-name--fields-flex {
    display: flex;
  }

  .form-name--value {
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
  }

  .form-name--tooltip {
    position: absolute;
    top: 0px;
    right: 1em;
    height: 100%;
    display: flex;
    align-items: center;

    &--target {
      background: #ffdf91;
      border-radius: 1.5em;
      display: block;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5em;
      text-align: center;
      color: #8f6b15;
    }
  }

  &--active {
    background: #f6fbfe;

    .form-name--fields {
      opacity: 1;
      pointer-events: all;
    }

    .form-name--label {
      opacity: 0;
      pointer-events: none;
    }
  }

  &--show-value {
    .form-name--label {
      opacity: 0;
      pointer-events: none;
    }

    .form-name--value {
      opacity: 1;
      pointer-events: all;
    }
  }
}
