<div {{ui-root}}>
  <div class="wrapper">
    {{#x-select
      class=(concat "select "
        (ui-state states "disabled" "error" el="select")
      )
      disabled=states.disabled
      focusIn=onFocusIn
      focusOut=onFocusOut
      value=value as |xs|}}
        {{yield (hash option=xs.option)}}
    {{/x-select}}
  </div>
</div>

{{#if states.error.message}}
  {{#ui-message kind="input-error" size="small"}}
    {{states.error.message}}
  {{/ui-message}}
{{/if}}
