<div class=":component {{classes.size}}">
  {{yield (hash
    input=(component
      input
      ids=ids
      size=size)
    label=(component
      "ui-field---label--default"
      ids=ids
      size=size)
    description=(component
      "ui-field---description--default"
      size=size)
    )}}
</div>
