<div class=":component
            {{classes.class}}
            {{classes.size}}">
  <div class="wrapper">
    {{input
      id=ids.input
      type=type
      placeholder=placeholder
      disabled=states.disabled
      aria-labelledby=ids.label
      class=(concat "ui-input--default--input "
        (ui-state states 'disabled' 'error' el='ui-input--default--input'))
      focus-out=focus-out}}
  </div>
</div>
