{{#if states.active}}
  <nav class=":component {{classes.class}} {{classes.size}} {{ui-state states 'active' 'collapsed'}}">
    {{yield (hash
      item=(component "ui-menu---item"
        kind="sub-menu"
      )
    )}}
  </nav>
{{/if}}
