<nav class=":component {{classes.class}} {{classes.size}} {{ui-state states 'active' 'collapsed'}}">
  {{yield (hash
    collapsed=states.collapsed
    item=(component "ui-menu---item"
      collapsed=states.collapsed
      kind=kind
      menu=this
      registerWithMenu=(action action.registerMenuItem)
    )
  )}}
</nav>
