{{#ember-wormhole to="ui-modal"}}
  <div {{ui-root}} id={{generatedModalId}}>
    <div class="modal">
      {{#ui-prevent-scroll-outside}}
        {{yield (hash
          panel=(component "ui-panel" kind="modal")
          close=(action "close")
        )}}
      {{/ui-prevent-scroll-outside}}
    </div>

    {{ui-backdrop kind="default" onclick=(action "close")}}
  </div>
{{/ember-wormhole}}
