{{#if showPopup}}
  <div class="overlay" {{action action.hide}}></div>

  {{#component tether classPrefix="ui-popup--tooltip-"}}
    <div {{ui-root}} class="window">
      <div class="window--wrapper">
        {{yield}}
      </div>
    </div>
  {{/component}}
{{/if}}
