<div class=":component {{classes.class}} {{classes.size}}">
  {{yield (hash
      previousButton=(component "ui-button" class="ui-pagination--default--previous" size=size)
      nextButton=(component "ui-button" class="ui-pagination--default--next" size=size)
      pages=(component "ui-pagination--default-pages")
    )}}
</div>
