<div {{ui-root}}>
  <div class="wrapper">
    {{textarea
      id=ids.input
      placeholder=placeholder
      disabled=states.disabled
      focusIn=onFocusIn
      focusOut=onFocusOut
      value=value
      aria-labelledby=ids.label
      class=(concat uiPrefix "--input "
                    (ui-state states 'disabled' 'error' el=(concat uiPrefix '--input')))
      rows=rows}}
  </div>
</div>

{{#if states.error.message}}
  {{#ui-message}}
    {{states.error.message}}
  {{/ui-message}}
{{/if}}
