<hbox>
  <nav>
    {{#ui-menu collapsed=isSidebarCollapsed menu=menu as |m|}}
      {{#each m.items as |item|}}
        {{m.item item=item}}
      {{/each}}
    {{/ui-menu}}
  </nav>
  <box>
    {{#ui-button onclick=(action (toggle "isSidebarCollapsed" this))}}
      Toggle Sidebar
    {{/ui-button}}
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
    content
  </box>
</hbox>
